<!doctype html> 
<html>  
  <head>  
    <title><%=shopName%></title> 
    <link rel="stylesheet" href="/style.css">
  </head>  
  <body>  
    <h1> This is the register page </h1> 
    <form method="POST" action="/registered"> 
        First Name:<input id="first" type="text" name="first"/> 
        Last Name:<input id="last" type="text" name="last" /> 
		Email:<input id="email" type="text" name="email" required placeholder="example@domain.com" pattern="[a-zA-Z]+.+[a-zA-Z]+@.+"/> 
        <input type="submit" value="OK" /> 
    </form> 
</body>  
</html> 
